$initType: 'normal';

@mixin _btn($type:$initType){
  user-select:none;
  width: 180px;
  height: 48px;
  background-color: black;
  color:white;
  font-size: 1.6rem;
  padding: 16px;
  transition: .3s;
  &:hover{
    opacity:0.8;
  }
  &:before{
    display: inline-block;
    content:"";
    height: 12px;
    width: 12px;
    border-top:2px solid white;
    border-right:2px solid white;
    transform: rotate(45deg);
    margin-right: 16px;
  }
}