@charset "UTF-8";
/*! destyle.css v1.0.13 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document
     ========================================================================== */
/**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   * 3. Remove gray overlay on links for iOS.
   */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/* Vertical rhythm
     ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings
     ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration)
     ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition)
     ========================================================================== */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms
     ========================================================================== */
/**
   * Reset form fields to make them styleable
   * 1. Reset radio and checkbox to preserve their look in iOS.
   */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type="checkbox"] {
  /* 1 */
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  /* 1 */
  -webkit-appearance: radio;
  appearance: radio;
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Remove padding
   */
option {
  padding: 0;
}

/**
   * Reset to invisible
   */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  padding: 0;
  /* 1 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the outline style in Safari.
   */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
   * Clickable labels
   */
label[for] {
  cursor: pointer;
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Table
     ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

html {
  font-size: 10px;
  color: #333333;
}

a {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: .3s;
}

img {
  width: 100%;
  height: auto;
}

header {
  height: 72px;
  background-color: #F4F4F4;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  opacity: 0.8;
}

.header__container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  width: 160px;
  display: flex;
  align-items: center;
}

.header__menu ul {
  width: 465px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu li {
  font-size: 1.6rem;
  font-weight: bold;
}

.header__menu li:after {
  display: inline-block;
  content: '';
  height: 20px;
  width: 1px;
  background-color: #A0A0A0;
  position: relative;
  left: 15px;
  top: 5px;
  transform: rotate(20deg);
}

.header__menu li:last-child {
  position: relative;
  top: 3px;
}

.header__menu li:last-child:after {
  display: none;
}

.topview {
  height: 320px;
  margin-top: 72px;
  position: relative;
}

.topview__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  font-weight: bold;
}

body.home .topview {
  height: 100vh;
}

.intro {
  margin-top: 160px;
  position: relative;
}

.intro__container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

.intro__title {
  font-size: 3.2rem;
  font-weight: bold;
}

.intro__title:after {
  display: block;
  content: '';
  height: 8px;
  width: 166px;
  border-radius: 4px;
  background: linear-gradient(to right, #64D5FF, #8400B5);
  margin-top: 8px;
}

.intro__list {
  margin-top: 40px;
}

.intro__item {
  width: 450px;
  height: 65px;
  line-height: 65px;
  background-color: white;
  margin-bottom: 16px;
  border-radius: 33px;
  padding-left: 32px;
  font-size: 2rem;
  font-weight: bold;
}

.intro__txt {
  margin-top: 48px;
  font-size: 2.8rem;
  font-weight: bold;
}

.intro__btn {
  margin-top: 48px;
  width: 180px;
  height: 48px;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  padding: 16px;
  transition: .3s;
}

.intro__btn:hover {
  opacity: 0.8;
}

.intro__btn:before {
  display: inline-block;
  content: "";
  height: 12px;
  width: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 16px;
}

.intro__bg {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: #F4F4F4;
  height: 100%;
  width: 70%;
}

.intro__img {
  width: 50vw;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.service {
  margin-top: 160px;
}

.service__container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.service__title {
  display: inline-block;
  text-align: center;
  font-size: 2.2rem;
}

.service__title:before {
  content: "SERVICE";
  font-size: 4.8rem;
  display: block;
  margin-top: 8px;
}

.service__title:after {
  display: block;
  content: '';
  height: 8px;
  width: 166px;
  border-radius: 4px;
  background: linear-gradient(to right, #64D5FF, #8400B5);
  margin-top: 8px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.service__list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service__item {
  width: 500px;
  height: 309px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 2px #9c9c9c;
  transition: .3s;
  position: relative;
}

.service__item:hover {
  box-shadow: none;
  top: -3px;
}

.service__img {
  height: 277px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.service__txt {
  font-size: 2rem;
  line-height: calc(309px - 277px);
}

.service__item:nth-child(n + 3) {
  width: 350px;
  height: 216px;
  position: relative;
}

.service__item:nth-child(n + 3) .service__img {
  height: 100%;
}

.service__item:nth-child(n + 3) .service__txtarea {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
}

.service__item:nth-child(n + 3) .service__txt {
  font-size: 1.6rem;
}

.service__item:nth-child(n + 3):hover:before {
  border-bottom: 0px solid rgba(255, 255, 255, 0.8);
  border-right: 0px solid rgba(255, 255, 255, 0.8);
  border-left: 350px solid transparent;
  border-top: 216px solid transparent;
}

.service__item:nth-child(n + 3):before {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 0px;
  width: 0px;
  border-bottom: 108px solid rgba(255, 255, 255, 0.8);
  border-right: 175px solid rgba(255, 255, 255, 0.8);
  border-left: 175px solid transparent;
  border-top: 108px solid transparent;
  transition: .3s;
}

.works {
  margin-top: 160px;
  position: relative;
  padding-top: 40px;
}

.works__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #F4F4F4;
  height: 100%;
  width: 70%;
}

.works__img {
  width: 50vw;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.works__container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.works__title {
  font-size: 2.2rem;
}

.works__title:before {
  content: "WORKS";
  font-size: 4.8rem;
  display: block;
  margin-top: 8px;
}

.works__title:after {
  display: block;
  content: '';
  height: 8px;
  width: 166px;
  border-radius: 4px;
  background: linear-gradient(to right, #64D5FF, #8400B5);
  margin-top: 8px;
}

.works__area {
  display: flex;
  justify-content: flex-end;
}

.works__item {
  width: 500px;
  height: 309px;
  margin-bottom: 40px;
  background-color: white;
  position: relative;
  transition: .3s;
}

.works__item:hover {
  opacity: 0.9;
  top: -3px;
}

.works__imgarea {
  width: 100%;
  height: 279px;
}

.works__txtarea {
  height: 30px;
}

.works__txt {
  line-height: 30px;
  font-size: 1.6rem;
  text-align: center;
}

.works__btnarea {
  text-align: right;
}

.works__btn {
  text-align: center;
  width: 180px;
  height: 48px;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  padding: 16px;
  transition: .3s;
}

.works__btn:hover {
  opacity: 0.8;
}

.works__btn:before {
  display: inline-block;
  content: "";
  height: 12px;
  width: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 16px;
}

.guide {
  margin-top: 160px;
  text-align: center;
}

.guide__container--color {
  height: 260px;
  background: linear-gradient(to right, #64D5FF, #8400B5);
  padding-top: 40px;
  position: relative;
}

.guide__title {
  color: white;
  font-size: 2.2rem;
}

.guide__title:before {
  content: "GUIDE";
  font-size: 4.8rem;
  display: block;
  margin-top: 8px;
}

.guide__list {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  margin-top: 40px;
  width: 544px;
  display: flex;
  justify-content: space-between;
}

.guide__item {
  height: 173px;
  width: 173px;
  border-radius: 50%;
  background-color: #F4F4F4;
  border: 10px white solid;
  line-height: 150px;
  font-size: 2rem;
  font-weight: bold;
}

.guide .contact-btn {
  margin-top: 160px;
  height: 64px;
  width: 240px;
  background-color: #8400B5;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.guide .contact-btn:hover {
  opacity: 0.8;
}

.guide .contact-btn:before {
  display: inline-block;
  content: "";
  height: 12px;
  width: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 24px;
}

.blogs {
  margin-top: 160px;
  background-color: #F4F4F4;
  padding-top: 40px;
}

.blogs__container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.blogs__title {
  font-size: 2.2rem;
}

.blogs__title:before {
  content: "BLOG";
  font-size: 4.8rem;
  display: block;
  margin-top: 8px;
}

.blogs__title:before {
  display: inline-block;
  margin-right: 16px;
}

.blogs__title:after {
  display: block;
  content: '';
  height: 8px;
  width: 166px;
  border-radius: 4px;
  background: linear-gradient(to right, #64D5FF, #8400B5);
  margin-top: 8px;
}

.blogs__list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.blogs__item {
  height: 340px;
  width: 360px;
  background-color: white;
}

.blogs__item--title {
  font-size: 2rem;
  font-weight: bold;
}

.blogs__item--time {
  display: block;
  font-size: 1.2rem;
  margin-top: 16px;
}

.blogs__item--time p {
  margin-left: 8px;
  display: inline-block;
}

.blogs__img {
  width: 100%;
  height: 240px;
  overflow: hidden;
  position: relative;
}

.blogs__img img {
  height: 100%;
  width: auto;
}

.blogs__category {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #8400B5;
  color: white;
  font-size: 1.3rem;
  padding: 8;
  line-height: 2rem;
}

.blogs__txtarea {
  padding: 8px;
}

.blogs__btnarea {
  text-align: center;
}

.blogs__btn {
  width: 180px;
  height: 48px;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  padding: 16px;
  transition: .3s;
  margin: 40px 0 160px;
}

.blogs__btn:hover {
  opacity: 0.8;
}

.blogs__btn:before {
  display: inline-block;
  content: "";
  height: 12px;
  width: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 16px;
}

.contact {
  background-image: url("../img/contact.jpg");
  background-size: cover;
  color: white;
}

.contact__container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.contact__title {
  font-size: 2.2rem;
}

.contact__title:before {
  content: "CONTACT";
  font-size: 4.8rem;
  display: block;
  margin-top: 8px;
}

.contact__title:after {
  display: block;
  content: '';
  height: 8px;
  width: 166px;
  border-radius: 4px;
  background: linear-gradient(to right, #64D5FF, #8400B5);
  margin-top: 8px;
}

.contact__exp {
  margin-top: 24px;
  font-size: 1.6rem;
}

.contact__site-name {
  margin-top: 16px;
  font-size: 2.8rem;
}

.contact__email {
  margin-top: 16px;
  font-size: 1.6rem;
}

.contact .contact-btn {
  margin-top: 24px;
  margin-bottom: 48px;
  height: 64px;
  width: 360px;
  background-color: #8400B5;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 24px;
}

.contact .contact-btn:hover {
  opacity: 0.8;
}

.contact .contact-btn:before {
  display: inline-block;
  content: "";
  height: 12px;
  width: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 24px;
}

.contact .contact-btn:before {
  margin-right: 80px;
}

footer {
  background-color: black;
  color: #A0A0A0;
}

.footer__container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__item-name {
  font-size: 26px;
}

.footer__sub-list {
  margin-top: 16px;
}

.footer__sub-item {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

.footer__sub-item:hover {
  opacity: 0.8;
}

.footer__copyright {
  text-align: center;
  margin-top: 56px;
  font-size: 1.3rem;
}

.service-single {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.service-single__img {
  width: 500px;
  margin: 0 auto;
}

.service-single__txtarea {
  margin-top: 80px;
  width: 732px;
  margin: 0 auto;
  text-align-last: left;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 32px;
}

.service-single__txtarea h2, .service-single__txtarea h3, .service-single__txtarea h4, .service-single__txtarea p, .service-single__txtarea ul {
  margin-bottom: 30px;
}

.service-single__txtarea h2 {
  font-size: 2.5rem;
  padding: 20px 40px 18px;
  border-left: 9px solid #8400B5;
}

.service-single__txtarea h3 {
  font-size: 2rem;
  border-left: 9px solid #8400B5;
  font-weight: 300;
  padding: 0 15px;
  font-weight: 600;
}

.service-single__txtarea a {
  display: inline-block;
  width: auto;
  color: blue;
  font-weight: 600;
}

.service-single__txtarea a:hover {
  text-decoration: underline;
}

.service-single__txtarea ul {
  list-style: none;
  margin-left: 8px;
}

.service-single__txtarea li::before {
  content: "・ ";
  color: #8400B5;
  font-weight: 600;
}

.service-single .quote-btn {
  display: block;
  margin: 80px auto 0;
  height: 170px;
  width: 170px;
  line-height: 170px;
  border-radius: 50%;
  background: linear-gradient(to right, #64D5FF, #8400B5);
  color: white;
  font-size: 2rem;
}

.service-single__link {
  margin: 48px auto 0;
  width: 732px;
  display: flex;
  justify-content: space-between;
}

.service-single__btn {
  width: 180px;
  height: 48px;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  padding: 16px;
  transition: .3s;
  width: 359px;
}

.service-single__btn:hover {
  opacity: 0.8;
}

.service-single__btn:before {
  display: inline-block;
  content: "";
  height: 12px;
  width: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 16px;
}

.service-single__other {
  margin-top: 160px;
}

.service-single__list--title {
  font-size: 2.2rem;
}

.service-single__list--title:before {
  content: "SERVICE";
  font-size: 4.8rem;
  display: block;
  margin-top: 8px;
}

.service-single__list--title:after {
  display: block;
  content: '';
  height: 8px;
  width: 166px;
  border-radius: 4px;
  background: linear-gradient(to right, #64D5FF, #8400B5);
  margin-top: 8px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.service-single__list {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.service-single__item {
  height: 140px;
  width: 265px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 2px #9c9c9c;
  transition: .3s;
  position: relative;
}

.service-single__item:hover {
  box-shadow: none;
  top: -3px;
}

.service-single__item-name {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.3em;
  width: 100%;
}

.service-single__item:hover:before {
  border-bottom: 0px solid rgba(255, 255, 255, 0.8);
  border-right: 0px solid rgba(255, 255, 255, 0.8);
  border-left: 350px solid transparent;
  border-top: 216px solid transparent;
}

.service-single__item:before {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 0px;
  width: 0px;
  border-bottom: 70px solid rgba(255, 255, 255, 0.8);
  border-right: 133px solid rgba(255, 255, 255, 0.8);
  border-left: 133px solid transparent;
  border-top: 70px solid transparent;
  transition: .3s;
}

.works-single__link {
  margin: 48px auto 160px;
  width: 732px;
  text-align: center;
}

.works-single__btn {
  width: 180px;
  height: 48px;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  padding: 16px;
  transition: .3s;
  width: 359px;
}

.works-single__btn:hover {
  opacity: 0.8;
}

.works-single__btn:before {
  display: inline-block;
  content: "";
  height: 12px;
  width: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 16px;
}

.works-single__other {
  margin-top: 160px;
}

.works-single__list--title {
  font-size: 2.2rem;
}

.works-single__list--title:before {
  content: "CURRENT WORKS";
  font-size: 4.8rem;
  display: block;
  margin-top: 8px;
}

.works-single__list--title:after {
  display: block;
  content: '';
  height: 8px;
  width: 166px;
  border-radius: 4px;
  background: linear-gradient(to right, #64D5FF, #8400B5);
  margin-top: 8px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.works-single__list {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.works-single__item {
  margin: 0 16px;
  height: 140px;
  width: 265px;
  position: relative;
  box-shadow: 1px 1px 2px #9c9c9c;
  transition: .3s;
}

.works-single__item:hover {
  box-shadow: none;
  top: -3px;
}

.works-single__item-name {
  margin-top: 8px;
  font-size: 1.3em;
}

.works-single__visit {
  width: 180px;
  height: 48px;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  padding: 16px;
  transition: .3s;
  background-color: #8400B5;
  margin-top: 40px;
  width: 240px;
}

.works-single__visit:hover {
  opacity: 0.8;
}

.works-single__visit:before {
  display: inline-block;
  content: "";
  height: 12px;
  width: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 16px;
}

.works-single__pcimg {
  margin: 0 auto;
  width: 500px;
  height: 383px;
  background-image: url(../img/work.png);
  background-size: cover;
  position: relative;
}

.works-single__img {
  position: absolute;
  left: 9px;
  top: 8px;
  width: 483px;
  height: 279px;
  overflow: hidden;
  overflow-y: scroll;
}

.works-single__table {
  width: 100%;
  margin: 40px 0;
}

.works-single__table tr {
  height: 64px;
}

.works-single__table tr td {
  width: 25%;
  line-height: 6.4rem;
  border: 1px solid #A0A0A0;
  padding-left: 8px;
  font-size: 1.6rem;
}

.works-single__table tr td.works-single__table-work {
  line-height: 3rem;
}

.works-single__table-title {
  background-color: #F4F4F4;
  font-weight: bold;
}
